.header{
    position: relative;
    margin-left:auto;margin-right:auto;
    text-align:center!important;
}

.header-padding{
    position:absolute;
    top:50%;
    left:50%;
    transform:
    translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    padding:12px 24px!important;
    border:1px solid #ccc!important;
    letter-spacing:4px;
    color:#090909;
    text-align:center!important;
}

h1{
    font-size:48px;
}

.navbar{
   
    overflow:hidden;
}

.links{
     padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0;
    width:100%;
}

.button:hover{
    color:#000!important;
    background-color:#ccc!important
}
.content{
    max-width:980px;
    margin-left:auto;
    margin-right:auto;
}

/* img{
    width="1000 or 500
    height="500"

} */
.image{
    max-width:100%;
    height:auto;
    margin-top:16p;

}

.padding-big{
    padding:12px 24px
}

.img{
    vertical-align:middle
}

a{
    color:inherit
}